* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;

    @media (max-width: 720px) {
        font-size: 09px;
    }

    //     @media(max-width: 1080px){
    //         font-size: 93.75%
    //     }

    //     @media(max-width: 720px){
    //         font-size: 87.5%
    //     }
}

// :root{}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

body,
input,
textarea,
button {
    font-family: "Font", alternativa;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
}

button {
    cursor: pointer;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

a {
    color: inherit;
    text-decoration: none;
}
