* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SegoeUI-Regular";
    src: url("/fonts/SegoeUI/SegoeUI-400.ttf");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "SegoeUI-Light";
    src: url("/fonts/SegoeUI/SegoeUI-Semilight-350.ttf");
    font-style: normal;
    font-weight: 350;
    font-display: swap;
}

@font-face {
    font-family: "SegoeUI-Semibold";
    src: url("/fonts/SegoeUI/SegoeUI-Semibold-600.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "SegoeUI-Bold";
    src: url("/fonts/SegoeUI/SegoeUI-Gras-700.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

html {
    font-size: 10px;

    @media (max-width: 720px) {
        font-size: 09px;
    }

    //     @media(max-width: 1080px){
    //         font-size: 93.75%
    //     }

    //     @media(max-width: 720px){
    //         font-size: 87.5%
    //     }
}

:root {
    --background: #0d1117;
    --secundary: #161b22;

    --button-background: #21262d;
    --border-gray: #21262d;
    --border-green: #2ea043;

    --text: #c9d1d9;
    --link-text: #f0f6fc;
    --gray: #8b949e;

    --highlight-blue: #43a6ff;
    --highlight-green: #238636;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;

    background: var(--background);

    color: var(--text);
}

body,
input,
textarea,
button {
    font-family: "SegoeUI-Regular", sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: "SegoeUI-Semibold", sans-serif;
    font-weight: 600;
}

button {
    cursor: pointer;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

a {
    color: inherit;
    text-decoration: none;
}
