.app {
    width: 100vw;
    height: 100vh;

    .content {
        display: grid;
        grid-template-columns: 280px 1fr;

        margin: 0 auto;

        width: 1216px;
        height: 100vh;

        padding: 0 32px;
    }
}
