.profileNav {
    width: 100%;

    margin-top: 24px;

    padding: 0 32px;

    border-bottom: 1px solid var(--border-gray);

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 496px;

        margin: 0 auto;

        > div {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 7.5px;
            align-items: center;

            padding: 8px 16px;

            font-size: 1.4rem;
            line-height: 30px;
            color: var(--gray);

            cursor: pointer;

            border: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid var(--gray);
                transition: 0.1s all;

                p {
                    filter: brightness(1.45);
                    transition: 0.1s all;
                }
            }

            > :first-child {
                font-size: 16px;
            }
        }

        .active {
            color: var(--text);

            border-bottom: 2px solid var(--highlight-salmon);

            &:hover {
                border-bottom: 2px solid var(--highlight-salmon);

                transition: none;
                filter: none;

                p {
                    filter: none;
                    transition: none;
                }
            }

            span {
                min-width: 20px;

                background-color: var(--button-background);
                padding: 0 6px;

                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
                color: var(--gray);

                border: 1px solid transparent;
                border-radius: 20px;
            }
        }
    }
}
